:root {
  --primary-brand-color: #4d5ae5;
  /* IRIS CTAs Focused Active states Links */
  --pressed-color: #404bbf;
  /* OCEAN CTAs */
  --dark-color: #2e2f42;
  /* NAVY BLUE Overlays Shadows Headings */
  --success-color: #31d0aa;
  /* background: #31D0AA; opacity: 0.5;
   background: #31D0AA; opacity: 0.75; */
  /* GREEN Valid fields Success messages */
  --text-color: #434455;
  /* SLATE Body text */
  --subtle-text-color: #8e8f99;
  /* LIGHT SLATE Helper text Deemphasized text */
  --accent-color: #e7e9fc;
  /* CORNFLOWER Accent color Hairlines Subtle backgrounds */
  --light-color: #f4f4fd;
  /* CLOUD Light mode backgrounds Light mode Dialogs/alerts */
  --modal-overlay: #2e2f42;
  /* NAVY BLUE MODAL overlay*/
  --Hero-background: #2e2f42;
  /* GRAY Hero image background */
}

body {
  color: var(--text-color);
  font-family: Roboto, Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.site-nav {
  font-weight: 500;
}
.link {
  color: var(--dark-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-color);
}

.link-contact {
  color: var(--text-color);
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--pressed-color);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  color: var(--dark-color);
}

.logo {
  width: 44px;
  height: 24px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo-studio {
  width: 71px;
  color: var(--dark-color);
}
/* logo-footer */
.footer {
  height: 22px;
  line-height: 1.17;
  /* identical to box height */
}

.logo-footer-studio {
  width: 71px;
  color: var(--light-color);
}

.section-bkg {
  background: var(--modal-overlay);
}
.description-footer {
  color: var(--accent-color);
}
/* Button Text */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.filter {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
