:root {
  --primary-brand-color: #4d5ae5;
  /* IRIS CTAs Focused Active states Links */
  --pressed-color: #404bbf;
  /* OCEAN CTAs */
  --dark-color: #2e2f42;
  /* NAVY BLUE Overlays Shadows Headings */
  --success-color: #31d0aa;
  /* background: #31D0AA; opacity: 0.5;
   background: #31D0AA; opacity: 0.75; */
  /* GREEN Valid fields Success messages */
  --text-color: #434455;
  /* SLATE Body text */
  --subtle-text-color: #8e8f99;
  /* LIGHT SLATE Helper text Deemphasized text */
  --accent-color: #e7e9fc;
  /* CORNFLOWER Accent color Hairlines Subtle backgrounds */
  --light-color: #f4f4fd;
  /* CLOUD Light mode backgrounds Light mode Dialogs/alerts */
  --modal-overlay: #2e2f42;
  /* NAVY BLUE MODAL overlay*/
  --Hero-background: #2e2f42;
  /* GRAY Hero image background */
  --white-color: #ffffff;
}

body {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  color: var(--dark-color);
  text-decoration: none;
}

.site-nav {
  font-weight: 500;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-color);
}

.link-contact {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--pressed-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.items-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  text-decoration: none;
}
.link-card {
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
}
.logo-studio {
  color: var(--dark-color);
}
/* logo-footer */
.footer {
  height: 22px;
  line-height: 1.17;
  /* identical to box height */
}

.logo-footer-studio {
  width: 71px;
  color: var(--light-color);
}

.section-bkg {
  background: var(--light-color);
}
.hero-footer-bkg {
  background: var(--modal-overlay);
}
.description-footer {
  color: var(--accent-color);
}
/* Button*/
.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--pressed-color);
}
.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background: var(--pressed-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
